// reset
@import "../../style/reset/Normalize.min.css";

// fonts
@import "../../assets/fonts/fonts.min.css";

// variaveis
@import "../../style/variaveis/var.min.css";

// style da pagina
body {
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
