// reset
@import "../../style/reset/Normalize.min.css";

// fonts
@import "../../assets/fonts/fonts.min.css";

// cores
@import "../../style/cores/cores.min.css";

// style da pagina
body {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
