@import "../../style/reset/Normalize.min.css";
@import "../../assets/fonts/fonts.min.css";
@import "../../style/cores/cores.min.css";
body {
  background-color: #fff;
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
header h1 {
  color: var(--cor-primaria);
}
