@import "../../style/reset/Normalize.min.css";
@import "../../assets/fonts/fonts.min.css";
@import "../../style/variaveis/var.min.css";
body {
  background-color: var(--cor-fundo-branco);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}
@media screen and (max-width: 760px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
  }
}
